//META{"name":"Discord_Tigerr","description":"A nice theme.","author":"ItsTigerr","version":"1.0"}*//

/* IMPORT CSS FROM GITHUB */
@import url("https://raw.githubusercontent.com/ItsTigerss/DiscordTheme-1/master/Tigerr.css");
/*
===== IMPORTANT =====
CHANGE DISCORDS THEME TO DARK THEME IN APPEARANCE SETTINGS FOR THIS THEME TO WORK!
===== CUSTOMIZABLE COLORS =====
*/
:root { 
	--main-color: #007dbd;
	--hover-color: #03679b;
 }
 /*
===== CUSTOMIZABLE IMAGES =====
IMPORTANT: EVERY URL MUST BE HTTPS:// IN ORDER TO WORK IN DISCORD
RECOMMENDATIONS: EVERY URL AT THE BOTTOM SHOULD BE THE SAME TO MAKE THE THEME MATCH. (YOUR CHOICE)
--------------------------------------------------------------------------------------------------------------------------------------------
/*Change the url in .app to change the background behind chat */

.app, .callout-backdrop, .userPopout-4pfA0d::before { background-image: url("https://imgur.com/RG03PyX.png") !important; background-size: cover !important; }

 /*
---------------------------------------------------------------------------------------------------------------------------------------------
*/
